<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates:: head('Index-Page')"></head>
<body>
<!--/*@thymesVar id="editFormBean" type="org.jens.testing.forms.controller.EditController.EditFormBean"*/-->
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<div class="container-fluid">
    <div class="page-header">
        <h1>Template-
            <small>Page</small>
        </h1>
    </div>
    <div id="res" class="alert"></div>
    <form></form>
</div>


<!--<div th:replace="templates :: dialog"></div>-->
<div th:replace="templates :: scripts"></div>
<script th:inline="javascript">
    /*<![CDATA[*/

    function buildForm(json) {
        console.log(json);
        /*
        schema: {
                name: {
                    type: 'string',
                    title: 'Name',
                    required: true
                },
                age: {
                    type: 'number',
                    title: 'Age'
                }
            }

            form: [
                { key:"name"},
                { key:"vorname"},
                { key:"strasse"},
                {
                    key: "ort",
                    titleMap: {
                        0: "One",
                        1: "two",
                        2: "tree",
                        3: "tree++",
                    }
                },
                {
                    "type": "submit",
                    "title": "Roger"
                }
            ],
         */
        $('form').jsonForm({
            schema: json.schema,
            form: json.form,
            onSubmit: function (errors, values) {
                console.log(values);
                if (errors) {
                    $('#res').html('<p>I beg your pardon?</p>');
                } else {
                    $('#res').html('<p>Hello ' + values.name + '.' +
                        (values.age ? '<br/>You are ' + values.age + '.' : '') +
                        '</p>');
                }


                param = "";
                for (const key in values) {
                    const value = values[key];
                    param += key + "=" + encodeURIComponent(values[key]) + "&";
                }

                console.log(param);
            }
        });
    }


    const url = new URL(document.location)
    const base = url.protocol + "//" + url.host + RELURL;

    $(document).ready(function () {
        $.get(base + "api/form").done(buildForm);
    });


    /*]]>*/
</script>
</body>
</html>
