<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates:: head('Index-Page')"></head>
<body>
<div class="container-fluid">
    <div class="page-header">
        <h1>JSON </h1>
    </div>

    <div class="container">
        <form id="form" class="form form-inline" th:method="post" th:action="@{/api/form}"></form>
    </div>

</div>

<div th:replace="templates::scripts"></div>
<div th:replace="org/jens/webforms/templates :: inline"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(() => {
        // letzten 2 elemente des Arrays "form" sind die buttons.
        // letzer ist der "Submit" - Button
        jsonform.form[jsonform.form.length - 2].onClick = function (evt) {
            alert("hi");
        }

        $("#form").webForm({

            schema: jsonform.schema,
            form: jsonform.form,

            onSubmit: function (errors, values) {
                if (errors) {
                    orgjenswebforms.displayError(errors, values, null);
                } else {
                    document.getElementById("form").submit();
                }
                // var param = "";
                // for (const key in values) {
                //     const value = values[key];
                //     param += key + "=" + encodeURIComponent(values[key]) + "&";
                // }
                // console.log(param);
            }
        });
    });
    /*]]>*/
</script>
</body>
</html>
